<div class="container">
    <div class="jumbotron">
        <h1> Menu! </h1>
        <form class="create-form">
            <label for="burger">Choose Your Burger!</label>
            <select name="burgers" id="burger">
                <optgroup label="Veggie Burgers">
                    <option value="Mushroom Burger">Mushroom Burger</option>
                    <option value="Black Bean">Black Bean Burger</option>
                    <option value="Tofu">Tofu Burger</option>
                </optgroup>
                <optgroup label="Classic">
                    <option value="Cheese Burger"> Cheese Burger</option>
                    <option value="Bacon Cheese Burger"> Bacon Cheese Burger</option>
                    <option value="BBQ Bacon Burger">BBQ Bacon Burger</option>
                </optgroup>
            </select>
            <button type="submit" class="btn" id="addburger"></button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div><strong>Fresh Off the Grill</strong></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel-heading"><strong>Waiting to be Eaten</strong>
                <p>Click The Button to Eat</p>
            </div>
            <div>

                <ul class="eaten burger">
                    {{#each burger}}
                    {{#unless devoured}}

                    <span><strong>{{this.burger_name}}</strong></span>

                </ul>
            </div>
        </div>
    </div>
</div>